In [30]:

#QUESTION1 

ages =[19,22,19,24,20,25,26,24,25,24]

#sort the list and find the min and max age
s=sorted(ages)
print ("sorted list is",s)
a=min(ages)
b=max(ages)
print("minimum age is",a)
print("maximum age is",b)

sorted list is [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
minimum age is 19
maximum age is 26

In [3]:
#add the min age and the max age again to the list
s.append(a)
s.append(b)
print(s)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 19, 26]

In [29]:
#find the median age(one middle item or two middle items divided by two)
l=len(s);
m=int((l+1)/2);
print (m)
print("median  age is",ages[m-1])

7
median  age is 26

In [32]:
#Find the average age (sum of all items divided by their number)
avg=sum(s)/l
print("average age is",avg)

average age is 17.53846153846154

In [36]:
#find the range of the ages
range=b-a
print("range of ages is",range)

range of ages is 7

In [40]:
#QUESTION 2

#create an empty dictionary called dog

dog={}
print(dog)

{}

In [41]:
#add name,color,breed,legs,age to the dog dictionary
dog.update({'name':'Bruno','color':'Black','Breed':'Retreiver','legs':'4','age':'7'})
print(dog)

{'name': 'Bruno', 'color': 'Black', 'Breed': 'Retreiver', 'legs': '4', 'age': '7'}

In [46]:
#create a student dictionary and add first_name , last_name, gender ,age, marital status,skills,counrty,city and addredd as keys for the dictionary
student={}
student={'first_name':'Apoorva','last_name':'Kyramkonda','gender':'F','age':'21','marital status':'unmarried','skills':['Java','HTML','DBMS'],'country':'USA','city': 'Centerton', 'address' : 'PiperLn'}
print(student)

{'first_name': 'Apoorva', 'last_name': 'Kyramkonda', 'gender': 'F', 'age': '21', 'marital status': 'unmarried', 'skills': ['Java', 'HTML', 'DBMS'], 'country': 'USA', 'city': 'Centerton', 'address': 'PiperLn'}

In [47]:
#get the length of student dictionary
print(len(student))

9

In [57]:
#get the value of skills and check the data type,it should be a list
s=list(student)
print(student.get('skills'),type(s))

['Java', 'HTML', 'DBMS', 'C++'] <class 'list'>

In [58]:
#modify the skills values by adding 1 or 2 strings
student['skills'].append('C++')
print(student)

{'first_name': 'Apoorva', 'last_name': 'Kyramkonda', 'gender': 'F', 'age': '21', 'marital status': 'unmarried', 'skills': ['Java', 'HTML', 'DBMS', 'C++', 'C++'], 'country': 'USA', 'city': 'Centerton', 'address': 'PiperLn'}

In [59]:
#get the dictionary keys as a list
keys=student.keys()
print(keys)

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])

In [60]:
#get the dictionary values as a list
values=student.values()
print(values)

dict_values(['Apoorva', 'Kyramkonda', 'F', '21', 'unmarried', ['Java', 'HTML', 'DBMS', 'C++', 'C++'], 'USA', 'Centerton', 'PiperLn'])

In [61]:
#QUESTION 3

#create a tuple containing names of your sisters and your brothers
tsisters=('Sweety','Sonu','Sanju')
tbrothers=('Sunny','Abhinav','Punya')
print(tsisters)
print(tbrothers)

('Sweety', 'Sonu', 'Sanju')
('Sunny', 'Abhinav', 'Punya')

In [63]:
#join brothers and sisters tuples and assign it to siblings
tsiblings=tsisters+tbrothers
print(tsiblings)

('Sweety', 'Sonu', 'Sanju', 'Sunny', 'Abhinav', 'Punya')

In [65]:
#how many siblings do you have
print(len(tsiblings))

6

In [110]:
#modify the siblings tuple and add the name of your father and mother and assign it to family_members
tfamily_members=tsiblings.append('madhu','laxmi')
print(tfamily_members)


#there is an error as tuple is immutable

AttributeError: 'tuple' object has no attribute 'append'

In [67]:
#QUESTION 4

it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
age=[22,19,24,25,26,24,25,24]

#find the length of the set it_companies
print(len(it_companies))

7

In [68]:
#add 'Twitter' to it_companies
it_companies.add('Twitter')
print(it_companies)

{'IBM', 'Google', 'Oracle', 'Amazon', 'Apple', 'Twitter', 'Facebook', 'Microsoft'}

In [69]:
#insert multiple IT companies at once to the set it_companies
it_companies.update(['Twitter','Instagram','Snapchat'])
print(it_companies)

{'Microsoft', 'Instagram', 'IBM', 'Facebook', 'Google', 'Oracle', 'Twitter', 'Amazon', 'Apple', 'Snapchat'}

In [70]:
#remove one of the companies from the set it_companies
it_companies.remove('Snapchat')
print(it_companies)

{'Microsoft', 'Instagram', 'IBM', 'Facebook', 'Google', 'Oracle', 'Twitter', 'Amazon', 'Apple'}

In [71]:
#what is the difference btween remove and discard

it_companies.remove('Whatsapp')
print(it_companies)

#remove attribute shows an error if the item to be removed is not present in  the list

KeyError: 'Whatsapp'

In [73]:
it_companies.discard('whatsapp')
print(it_companies)

#discard attribute doesnot show any error if the item to be removed is not present in the list

{'Microsoft', 'Instagram', 'IBM', 'Facebook', 'Google', 'Oracle', 'Twitter', 'Amazon', 'Apple'}

In [74]:
#join A and B
C=A.union(B)
print(C)

{19, 20, 22, 24, 25, 26, 27, 28}

In [75]:
#find A intersection B
print(A.intersection(B))

{19, 20, 22, 24, 25, 26}

In [76]:
#is A subset of B
print(B.issubset(A))

False

In [77]:
#are A and B disjoint sets
print(B.isdisjoint(A))

False

In [78]:
#what is the symmetric difference between A and B
print(B.symmetric_difference(A))

{27, 28}

In [79]:
#convert the ages to a set and compare the length of the list and the set
st=set(age)
print(st)

{19, 22, 24, 25, 26}

In [81]:
#delete the sets completey
A.clear()
print(A)

set()

In [82]:
#QUESTION 5

#calculate the area of a circle and assign the value to a  variable name of _area_of_circle_
r=30
_area_of_circle_=3.14*r**2
print (_area_of_circle_)

2826.0

In [83]:
# calculate the circumference of a circle and assign the value to a variable name of _circum_of_circle_

_circum_of_circle_ = 2*3.14*r
print(_circum_of_circle_)

188.4

In [96]:
# Take radius as user input and calculate the area
a=int(input("enter radius "))
area = 3.14*a*a
print(area)

enter radius 5
78.5

In [97]:
#QUESTION 6

# How many unique words have been used in the sentence? Use the split methods and set to get the unique words
str="I am a teacher and I love to inspire and teach people"
words = set(str.split(" "))
print(len(words))

10

In [98]:
#QUESTION 7

# Use a tab escape sequence to get the following lines
# Name   Age   Country  City
# Asabench   250   Finland  Helsinki
text="Name\tAge\tCountry\tCity\nAsabench\t250\tFinland\tHelsinki"
print(text)

Name	Age	Country	City
Asabench	250	Finland	Helsinki

In [106]:
#QUESTION 8

# Use the string formatting method to display the following
# "The area of a circle with radius 10 is 314 meters square"

radius = 10
area = 3.14*radius**2
string="\"The area of a circle with radius {} is {} meters square\""
print(string.format(radius,area))

"The area of a circle with radius 10 is 314.0 meters square"

In [6]:
#QUESTION 9

# Write a program which reads weight (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop N: No of students (Read input from user)

studentsCount=int(input("No of Students: "))
weightInLbs = []
for num in range(studentsCount):
    weightInLbs.append(int(input()))

weightInKgs = []
for weigh in weightInLbs:
    weightInKgs.append(round(weigh*0.453592, 2))
    
print(weightInKgs)

No of Students: 4
150
155
145
148
[68.04, 70.31, 65.77, 67.13]